@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: slatescale;
  background: #EFF4F8;
  color: #0F1D2B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .label {
    @apply block;
    @apply font-semibold;
    @apply pb-1.5;
    @apply text-sm;
  }

  .input {
    @apply border-2;
    @apply border-qpSlate-300;
    @apply bg-white;
    @apply py-2;
    @apply px-4;
    @apply w-full;
    @apply font-bold;
    @apply rounded-md;
    @apply placeholder-slate-500;
    @apply text-qpWater;
    @apply focus:shadow-lg;
  }

  .btn-zord {
    @apply absolute;
    @apply right-0;
    @apply top-0;
    @apply pl-4 pr-2.5;
    @apply py-2.5;
    @apply flex;
    @apply items-center;
    @apply space-x-1;
    @apply text-qpGreen-200;
    @apply rounded-r;
    @apply hover:bg-qpGreen-200;
    @apply hover:text-white;
  }

  .flex-between {
    @apply flex;
    @apply items-center;
    @apply justify-between;
  }

  .flex-space {
    @apply flex;
    @apply items-center;
    @apply space-x-6;
  }
  
  .flex-center {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply text-center;
  }

  .btn {
    @apply bg-teal-500;
    @apply border-2;
    @apply border-teal-500;
    @apply text-white;
    @apply font-bold;
    @apply px-6;
    @apply py-1.5;
    @apply rounded-md;
    @apply shadow-sm;
    @apply hover:shadow-xl;
    @apply hover:bg-qpWater;
    @apply hover:border-qpWater;
  }

  p {
    @apply font-medium;
  }

  a {
    @apply hover:opacity-50;
    @apply hover:cursor-pointer;
  }

  .info {
    @apply px-2;
    @apply text-xs;
    @apply font-bold;
    @apply underline;
    @apply italic;
    @apply opacity-50;
  }

  .card {
    @apply bg-white;
    @apply shadow-lg;
    @apply shadow-qpSlate-800/5;
    @apply rounded-lg;
  }
}