body {
  margin: 0;
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: slatescale;
  @apply bg-qpSlate-100;
  @apply text-qpDark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .label {
    @apply block;
    @apply font-semibold;
    @apply pb-1.5;
    @apply text-sm;
  }

  .input {
    @apply border-2;
    @apply border-qpSlate-200;
    @apply py-2;
    @apply px-4;
    @apply w-full;
    @apply font-bold;
    @apply rounded-md;
  }

  .btn-zord {
    @apply absolute;
    @apply right-0;
    @apply top-0;
    @apply px-4;
    @apply py-2.5;
    @apply flex;
    @apply items-center;
    @apply space-x-1;
    @apply text-white;
    @apply bg-teal-500;
    @apply rounded-r;
    @apply hover:bg-qpWater;
  }

  .flex-between {
    @apply flex;
    @apply items-center;
    @apply justify-between;
  }

  .flex-space {
    @apply flex;
    @apply items-center;
    @apply space-x-6;
  }
  
  .flex-center {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply text-center;
  }

  .btn {
    @apply bg-teal-500;
    @apply border-2;
    @apply border-teal-500;
    @apply text-white;
    @apply font-bold;
    @apply px-6;
    @apply py-1.5;
    @apply rounded-md;
    @apply shadow-sm;
    @apply hover:shadow-xl;
    @apply hover:bg-qpWater;
    @apply hover:border-qpWater;
  }

  p {
    @apply font-medium;
  }

  a {
    @apply hover:opacity-50;
    @apply hover:cursor-pointer;
  }

  .info {
    @apply px-2;
    @apply text-xs;
    @apply underline;
    @apply font-normal;
    @apply italic;
    @apply opacity-50;
    @apply font-medium;
  }

  .card {
    @apply bg-white;
    @apply shadow;
    @apply shadow-qpSlate-800/5;
    @apply rounded-lg;
  }
}